<section>
  <a routerLink="/filme/{{movie.id}}/assistir" class="MovieVideo" [ngStyle]="{'background-image': 'url(' + movie.thumbnail + ')'}" ></a>
  <div class="MovieTexts">
    <h1>{{ movie.title }}</h1>
    <p class="Details">
      <strong>Ano: </strong> {{ movie.year }} |
      <strong>Duração: </strong>{{ movie.duration }} |
      <strong>Nota: </strong>{{ movie.rating}}
    </p>
    <p>
      {{ movie.description }}
    </p>
    <p *ngIf="movie.actors"><strong>Elenco: </strong>{{ movie.actors }}</p>
  </div>
</section>
