<section class="Section">
  <h3>{{ title }}</h3>
  <div class="CommentForm Flex">
    <div class="Avatar">
      <img *ngIf="user" src="/assets/{{ user.thumbnail }}" height="40" />
    </div>
    <form (ngSubmit)="onSubmit()">
      <input [(ngModel)]="text" class="Input" type="text" name="text" placeholder="Escrever comentário" autocomplete="off" />
      <div class="TextRight">
        <button type="reset" class="Button ButtonWhite ButtonSmall">Cancelar</button>
        <button type="submit" [disabled]="isDisable()" class="Button ButtonSmall ML8">Enviar</button>
      </div>
    </form>
  </div>
  <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
</section>
